/* body {
      height: 100vh;
      background: linear-gradient(to bottom, #1a1a3d, #39265b, #6e2857, #c2496e);
      font-family: 'Segoe UI', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
    } */
